@import url("https://fonts.googleapis.com/css?family=Sarabun:300,500&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Sarabun", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sarabun", sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 36px;
  line-height: 40px;
}
h2 {
  font-size: 24;
  line-height: 32px;
}
h3 {
  font-size: 20px;
  line-height: 28px;
}

.main-container {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
}

/* Finder form and inputs */
#finder-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74%;
  margin: 24px 0;
}
.input-container {
  display: flex;
  align-items: center;
  border: 2px solid #374151;
  background-color: white;
  width: 100%;
}
.input-container > input {
  font-family: "Sarabun", sans-serif;
  font-size: 18px;
  line-height: 28px;
  width: 580px;
  padding: 14px;
  outline: none;
  border: none;
  background-color: transparent;
}
.input-container > i {
  color: #374151;
  padding: 14px 0 14px 14px;
}

#finder-result-section {
  width: 74%;
}

/* Book List */
.book-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.book-list-item {
  margin: 44px 0;
  padding: 14px;
}
.book-list-item img {
  flex-shrink: 0;
  width: 100px;
  height: calc(100px * 1.6);
  object-fit: cover;
  background-color: white;
}
.book-list-item > a {
  text-decoration: none;
  color: #374151;
  display: flex;
}
.book-details {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}
.book-details h3 {
  margin: 0;
}
.book-details p {
  font-family: "Sarabun", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 8px 0;
  color: #4b5563;
}

/* Main Book */
#main-book-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-book {
  margin: 44px 0;
  padding: 14px;
  display: flex;
  max-width: 70%;
}
.main-book img {
  flex-shrink: 0;
  width: 128px;
  height: calc(128px * 1.6);
  object-fit: cover;
  background-color: white;
}
.book-details h2 {
  margin: 0;
}

/* Next Book List */
#next-book-list-section {
  border-top: 1px solid #d1d5db;
  width: 74%;
  padding: 24px 0;
}
#next-book-list-section > h3 {
  color: #57534e;
}

/* Book Category */
.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.category {
  font-family: "Sarabun", sans-serif;
  font-size: 13px;
  background-color: #e5e7eb;
  color: #6b7280;
  padding: 2px 8px;
  border-radius: 10px;
  flex-grow: 0;
}
